<p style="color: green"><%= notice %></p>

<%= render @paciente %>

<h4>Endereço:</h4>
<p>
  <strong>Cep:</strong>
  <%= @paciente.endereco.cep %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @paciente.endereco.cidade %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @paciente.endereco.bairro %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @paciente.endereco.logradouro %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @paciente.endereco.complemento %>
</p>

<div>
  <%= link_to "Edit this paciente", edit_paciente_path(@paciente) %> |
  <%= link_to "Back to pacientes", pacientes_path %>

  <%= button_to "Destroy this paciente", @paciente, method: :delete %>
</div>
